<%- include('partials/header', {styleSheet: "/css/dashboard.style.css"}); %>   
        <section class="dropdownBar">
            <div class="titleBar">
                <h2>Master Lists</h2>
                <a id="addMasterBtn" href="/dashboard/createList" class="btn_icon"><i class="fa-solid fa-plus"></i></a>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
    
            <section class="dropdownSection hidden">
                <% lists.forEach(el => { %>
                    <li class="listItem" data-id="<%=el._id%>">
                        <h3><%=el.listName%></h3>
                        <a class="btn_icon" href="/dashboard/editMaster/?listId=<%=el._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
                    </li>
                <% }) %>
            </section>
        </section>

        <section class="dropdownBar">
            <div class="titleBar">
                <h2>Entries</h2>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
            <section class="dropdownSection hidden">
                <h1>filler</h1>
             </section>
        </section>
        <a id="addInvBtn" class="btn btn_secondary" href="#">Add Inventory</a>
<%- include('partials/footer') -%>