<%- include('partials/header', {styleSheet: "/css/editMaster.style.css"}); %>
        <h2><%= listName %></h2>

        <section id="categoriesBar" class="titleBar">
            <h2>Categories</h2>
            <select name="category" id="selectCategory">
                <option value="all">All</option>
                <%categories.forEach(el => {%>
                    <option value=<%=el%>><%=el%></option>
                <%})%>
            </select>
            <form action="/dashboard/addCategory/?listId=<%=listId%>" method="POST">
                <input type="text" name="categoryName" placeholder="Category">
                <button type="submit"><i class="fa-solid fa-plus"></i></button>
            </form>
        </section>

        <section id="addItemBar" class="titleBar">
            <h2>Add Item</h2>
            <form action="/dashboard/addItem/?listId=<%=listId%>" method="POST">
                <input id="nameInput" type="text" placeholder="Item Name" name="itemName">
                <input id="priceInput" type="number" min="0" step="0.01" placeholder="Price" name="price">
                <select name="countedBy" id="countedBy">
                    <option value="Each">Each</option>
                    <option value="Lb.">Lb.</option>
                    <option value="Case">Case</option>
                </select>
                <input id="addItemSubmit" class="btn btn_secondary" value="Add" type="submit">
            </form>
        </section>
        

        <section>
            <ul>
                <% items.forEach(el => {%>
                    <li data-itemid=<%=el._id%> data-listid=<%=listId%>>
                        <span class="itemName"><%=el.name%></span>
                        <span>$<%=el.price.toFixed(2)%></span>
                        <span><%=el.countedBy%></span>
                        <a class="btn_icon" href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="btn_icon" href="/dashboard/removeItem/?itemId=<%=el._id%>&listId=<%=listId%>"><i class="fa-regular fa-trash-can"></i></a>
                    </li>
                <%})%>
            </ul>
        </section>
<%- include('partials/footer') -%>