<%- include('partials/header', {styleSheet: "/css/editMaster.style.css"}); %>
        <h1><%= listName %></h1>

        <!-- Items Container -->
        <section id="listContainer">
            <h2>Items</h2>
            
            <!-- Dropdown to filter categories shown -->
            <select name="category" id="categoryFilter">
                <option value="all">all</option>
                <%categories.sort().forEach(el => {%>
                    <option value=<%=el%>><%=el%></option>
                <%})%>
            </select>
            <button id="openAddItemsModal">Add Items</button>
            
            <% categories.sort().forEach(el => { %>
                <!-- Item Title and Dropdown Bar -->
                <section id=<%=el%> class="dropdownBar">
                    <div class="titleBar">
                        <h2><%= el %></h2>
                        <i class="fa-solid fa-chevron-down arrow"></i>
                    </div>
                    <!-- Dropdown Content with List Items -->
                    <section class="dropdownSection hidden">
                        <ul>
                            <%items.filter(ea => ea.category === el).forEach(item => {%>
                                
                                <!-- List Items -->
                                <li data-listid=<%=listId%>>
                                    <!-- List Form for updating -->
                                    <form class="eachItemLine" action="/dashboard/updateItem/?itemName=<%=item.name%>&listId=<%=listId%>" method="POST">
                                        <!-- Item Name -->
                                        <span class="itemName"><%=item.name%></span>
                                        <!-- Price -->
                                        <input name="price" class='priceInput' type="number" value=<%= parseFloat(item.price).toFixed(2) %> step="0.01">
                                        <!-- Counted By Select -->
                                        <select name="countedBy" class="countedBy">
                                            <%["Each", "Lb.", "Case"].forEach(el => {%>
                                                    <%if(el === item.countedBy) {%>
                                                        <option selected value=<%=el%>><%=el%></option>
                                                        <%} else{%>
                                                            <option value=<%=el%>><%=el%></option>
                                                        <%}%>
                                                <%})%>
                                        </select>
                                        <!-- Category Select -->
                                        <select name="category" class="categorySelect">
                                            <%categories.sort().forEach(el => {%>
                                                <%if(el === item.category) {%>
                                                    <option selected value=<%=el%>><%=el%></option>
                                                    <%} else{%>
                                                        <option value=<%=el%>><%=el%></option>
                                                    <%}%>
                                            <%})%>
                                        </select>
                                        <!-- Update Item Submit -->
                                        <input type="submit" value="Submit">
                                        <!-- Delete Button to Open Delete Modal -->
                                        <button class="removeItemBtn" data-itemname=<%=item.name%> data-listid=<%=listId%>>Remove</button>
                                    </form>
                                </li>
                            <%})%>

                        </ul>
                       
                    </section>
                </section>
            <%})%>
        </section>

        <!-- Categories Section -->
        <section id="categoriesBar" class="dropdownBar">
            <div class="titleBar">
                <h2>Categories</h2>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>
            <section class="dropdownSection hidden">
                <form action="/dashboard/addCategory/?listId=<%=listId%>" method="POST">
                    <input type="text" name="categoryName" placeholder="Category">
                    <button type="submit"><i class="fa-solid fa-plus"></i></button>
                </form>
                <!-- All Categories List -->
                <ul>
                    <%categories.forEach(el => {%>
                        <li>
                            <span class="itemName"><%=el%></span>
                            <button data-catname="<%=el%>" data-listid="<%=listId%>" class="removeCatBtn">Remove</button>
                        </li>
                    <%})%>
                </ul>
            </section>
        </section>

        <!-- Add Item PopUp -->
        <%- include('partials/addItemPopUp.ejs') %>

        <!-- Delete Item PopUp -->
        <section class="popUpModal" id="removeItemModal">
            <button class="closeBtn">X</button>
            <p>Are you sure that you want to remove this item?</p>
            <button id="cancelDeleteBtn">Cancel</button>
            <button id="deleteBtn">Remove</button>
        </section>

        
<%- include('partials/footer') -%>