<%- include('partials/header', {styleSheet: "/css/inventoryMobile.style.css"}); %>
<header>
    <h1><%= inventory.listName %></h1>
    <span><%= inventory.createdDate.toDateString() %></span>
</header>

<section id="listContainer">
        <% inventory.categories.sort().forEach(category => { %>
            <section class="dropdownBar">
                <div class="titleBar">
                    <h2><%= category %></h2>
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </div>

                <section class="dropdownSection hidden">
                    <div class="labels">
                        <h4 class="itemLabel">Item</h4>
                        <h4 class="priceLabel">Price</h4>
                        <h4 class="totalLabel">Total Dollars</h4>
                        <h4 class="countLabel">Count</h4>
                    </div>
                    <ul>
                        <% inventory.items.filter(ea => ea.category === category).sort((a, b) => a - b).forEach(item => { %>
                            <li class="eachItemLine">
                                <label for=<%= item.name.split(' ').join('_') %>>
                                    <div class="itemLabel">
                                        <%= item.name %>
                                        <span class="checkmark hidden"><i class="fa-solid fa-check"></i></span>
                                    </div>
                                    <span class="price">$<%= item.price %></span>
                                    <span class="totalDollar">$<%= (item.count * item.price).toFixed(2) %></span>
                                    <form action="/inventory/update/<%= listId %>?itemName=<%= item.name %>" 
                                          method="POST" 
                                          class="inlineAddForm">
                                        <input class="inlineNumInput" type="number">
                                        <input class="inlineSubmit" value="Add" type="submit">
                                    </form>
                                    <div class="countContainer">
                                        <span class="itemCount"><%= item.count %></span>
                                        <% if(item.count > 1 && item.countedBy === 'Case') { %>
                                            <span class="countedBy">Cases</span>
                                        <% } else {%>
                                            <span class="countedBy"><%= item.countedBy %></span>
                                        <% } %>
                                        <span class="countedBy"></span>
                                    </div>
                                    <input type="radio" class="radio" id=<%= item.name.split(' ').join('_') %> name="name">
                                </label>
                                
                            </li>
                        <% }) %>
                    </ul>
                </section>
            </section>
        <% }) %>
</section>

<div id="addInvForm">
    <form action="/inventory/update/<%= listId %>" method="POST">
        <button class="decreaseBtn"><i class="fa-solid fa-minus"></i></button>
        <input class="numberInput" type="number" value="1">
        <button class="increaseBtn"><i class="fa-solid fa-plus"></i></button>
        <input class="submitInputMobile" type="submit" value="Add">
    </form> 
</div>



<%- include('partials/footer') -%>