<%- include('partials/header', {styleSheet: "/css/inventory.style.css"}); %>   
<h1><%= inventory.listName %></h1>
<h2><%= inventory.createdDate.toDateString() %></h2>

<section id="listContainer">

    <% inventory.categories.sort().forEach(el => { %>
        <section class="dropdownBar">
            <div class="titleBar">
                <h2><%= el %></h2>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </div>

            <section class="dropdownSection hidden">
                <ul>
                    <% inventory.items.filter(ea => ea.category === el).forEach(item => { %>
                        <li class="eachItemLine dropdownBar">
                            <span class="itemName"><%= item.name %></span>
                            <span class="itemCount"><%= item.count %></span>
                            <span><%= item.countedBy %></span>
                            <i class="fa-solid fa-chevron-down arrow"></i>
                            <section class="dropdownSection"></section>
                            <form action="" method="POST">
                                <div class="numberInputContainer">
                                    <button class="decreaseBtn">-</i></button>
                                    <input class="numberInput" type="number" value="1">
                                    <button class="increaseBtn">+</i></button>
                                </div>
                                <input type="submit" value="Add">
                            </form>  <!-- Change to PUT later if possible -->
                        </li>
                    <% }) %>
                </ul>
            </section>
        </section>
    <% }) %>
</section>










<%- include('partials/footer') -%>